/* FONTS */
@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("../fonts/Inter.var.woff2") format("woff2");
}
/* RESET STYLE */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

a,
a:visited {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
}

ul li {
  list-style: none;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
}

/* ============================== START */
:root {
  --color-search: #eee;
  --color-grey: #262833;
  --color-bg: var(--color-grey);
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: #fff;
  background: var(--color-bg);
}

/* ============================== BLOCK */
section {
  padding: 1.25rem clamp(0.625rem, 1.4705882353vw + 0.3308823529rem, 1.25rem);
}

/* ============================== WRAPPER */
/* ============================== HEADER */
/* ============================== BURGER */
/* ============================== MAIN */
.main {
  max-width: 1000px;
  margin: 0 auto;
  padding: clamp(0.625rem, 5.8823529412vw + -0.5514705882rem, 3.125rem) 0;
}

/* ==============================  today*/
.today {
  border-radius: 20px;
}

.search {
  display: flex;
  gap: 0.625rem;
  margin-bottom: clamp(0.625rem, 5.8823529412vw + -0.5514705882rem, 3.125rem);
}
.search input {
  flex: 1 1 auto;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: rgba(213, 215, 218, 0.0470588235);
  display: block;
  color: #fff;
}
.search button {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: rgba(213, 215, 218, 0.0470588235);
  color: #fff;
}

.weather {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: repeat(2, auto);
  align-items: center;
  justify-content: center;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
}

.citi {
  grid-column: 1/4;
  grid-row: 1/2;
  justify-self: center;
  font-size: clamp(1.25rem, 4.4117647059vw + 0.3676470588rem, 3.125rem);
  text-transform: uppercase;
  font-weight: 300;
}

.weather__temp {
  grid-column: 1/2;
  grid-row: 2/4;
  justify-self: end;
  font-size: clamp(1.875rem, 4.4117647059vw + 0.9926470588rem, 3.75rem);
  font-weight: 600;
}

.weather__description-icon {
  grid-column: 2/3;
  grid-row: 2/4;
  position: relative;
  padding: 0 120px 120px 0;
}
.weather__description-icon img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.weather__description-txt {
  grid-column: 3/4;
  grid-row: 2/3;
  justify-self: start;
  align-self: center;
  font-size: clamp(1rem, 1.3235294118vw + 0.7352941176rem, 1.5625rem);
  font-weight: 500;
  text-transform: capitalize;
}

.weather__description-feels {
  grid-column: 3/4;
  grid-row: 3/4;
  justify-self: start;
  align-self: center;
  font-size: clamp(1rem, 1.3235294118vw + 0.7352941176rem, 1.5625rem);
  font-weight: 500;
}

.detalis {
  margin-top: clamp(1.25rem, 4.4117647059vw + 0.3676470588rem, 3.125rem);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.detalis__wind, .detalis__humidity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  flex-direction: column;
}
.detalis__wind__img, .detalis__humidity__img {
  position: relative;
  padding: 0 50px 50px 0;
}
.detalis__wind__img img, .detalis__humidity__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ==============================  */
/* ==============================  */
/* ==============================  */
/* ==============================  */
/* ==============================  */